<ion-view class="scroll-bg" cache-view="false">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>报警查询
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button  ng-click="serch()" class="button button-icon button-clear ion-search">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="bar bar-subheader bar-dark"  ng-show="isshowsearch">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="请输入标题或时间" ng-model="data">
    </label>
  </div>

  <ion-content>
    <ion-refresher pulling-text="正在初始化数据..." on-refresh="refreshwarn()">
    </ion-refresher>
    <div style="margin-bottom:18px"><p></p></div>
    <ion-list>
      <ion-item class="item-transparent"  ng-repeat="message in warnMessages |filter:data ">
        <a class="list-link" href="#/warn/{{message.ID}}">
          <div class="secure-email-item">
            <div class="secure-email-image">
              <div>
                <img src="img/baojing/sta_alarming.png" width="30"  ng-show="message.State == '2'" />
                <img src="img/baojing/chuli.png" width="30"  ng-show="message.State == '3'" />
                <img src="img/baojing/autohuifu.png" width="30"  ng-show="message.State == '1'" />
              </div>
            </div>
            <div class="secure-email-summary">
              <h1 class="">
                警报位号：{{message.ID}}

              </h1>

              <div class="normal-text">警报属性名：{{message.AttrName}}</div>
              <div class="normal-text">警报级别名：{{message.LevelName}}</div>
              <h2 class="normal-text">
                警报级别：{{message.AlarmLevel}}
              </h2>
              <h2 class="normal-text">
                警报值：{{message.AlarmValue}}
              </h2>


              <p class="date">警报时间：{{message.EndTime | date : 'yyyy-MM-dd hh:mm:ss'}} </p>


            </div>
            <div style="clear:both;"></div>
          </div>
        </a>
      </ion-item>
      <ion-infinite-scroll
        ng-if="canshowmore"
        on-infinite="loadswarnMore()"
        distance="10%">
      </ion-infinite-scroll>

    </ion-list>
  </ion-content>
  <murder-footer></murder-footer>
</ion-view>
