<ion-view class="scroll-bg" cache-view="false" >

  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>调度指令查看
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button  ng-click="main()" class="button button-icon button-clear ion-ios-home-outline">
      </button>
  </ion-nav-bar>
  <ion-content scrollbar-x=false>

    <div class="secure-email-read">
      <div class="secure-email-header">
        <!-- Email header -->
        <h1 class="title">
          标题：<span class="to-from-name">{{Title}}</span>
        </h1>
        <h1 class="title">
          下发部门：<span class="to-from-name">{{hhh}}</span>
        </h1>
        <h1 class="title">
          指令内容： {{itemContent}}
        </h1>

        <h1 class="title">
          发送时间：{{SendTime|date : 'yyyy-MM-dd hh:mm:ss'}}
        </h1>

      </div>

      <div class="col">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <textarea type="textarea" cols="10" rows="5" name="coutent" placeholder="回复内容" ng-model="coutent" ng-readonly="isfirm"></textarea>
          </label>
        </div>
      </div>
      <div class="button-bar" ng-show="!ishuifux" >
        <button class="button button-positive"   ng-click="huifu(coutent)">回复</button>
      </div>
    </div>



  </ion-content>
  <murder-footer></murder-footer>
</ion-view>
